# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.local
*.env
!*.env.example

# Build output
dist/
build/
client/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
server/prisma/*.db

# Embedded Postgres data (created by `npm run pg:embedded`)
server/.pgdata/

# Local tunnel binary
**/cloudflared.exe

# Misc
.vscode/
.idea/
coverage/
